{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réinitialisation du mot de passe</title>
    <link rel="stylesheet" href="{% static 'assets/css/style.bundle.css' %}">
</head>
<body>
<div class="container">
    <h1>Réinitialisation du mot de passe</h1>
    <p>Cliquez sur le lien suivant pour réinitialiser votre mot de passe :</p>
    <p>
        <a href="http://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
            Réinitialiser le mot de passe
        </a>
    </p>
</div>
</body>
</html>
