{% extends 'home.html' %}

{% block content %}
{% block title %}
Page2
{% endblock %}

<div class="container-xxl">
    <div class="d-flex justify-content-center align-items-center min-vh-100">
        <div class="card p-4">
            <h1 class="text-center mb-4">Calculateur de Tarif</h1>
            <form method="post" class="text-center">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="iata_origine" class="form-label">IATA Origine :</label>
                    <select id="iata_origine" name="iata_origine" class="form-select">
                        <option value="">Choisir IATA Origine</option>
                        {% for tarif in tarifs %}
                        <option value="{{ tarif.origine }}">{{ tarif.origine }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="iata_destination" class="form-label">IATA Destination :</label>
                    <select id="iata_destination" name="iata_destination" class="form-select">
                        <option value="">Choisir IATA Destination</option>
                        {% for tarif in tarifs %}
                        <option value="{{ tarif.destination }}">{{ tarif.destination }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="convention" class="form-label">Convention :</label>
                    <input type="text" id="convention" name="convention" class="form-control" placeholder="Entrez la convention">
                </div>
                <button type="submit" class="btn btn-primary mt-3">Calculer</button>
            </form>

            {% if tarif_info %}
            <div class="mt-4">
                <h2>Informations sur le tarif :</h2>
                <p>Origine : {{ tarif_info.origine }}</p>
                <p>Destination : {{ tarif_info.destination }}</p>
                <p>Minimum : {{ tarif_info.minimum }} kg</p>
                <p>Convention : {{ tarif_info.convention }}</p>
            </div>
            {% elif tarif_info is not None %}
            <p class="mt-4">Aucun tarif trouvé pour cette origine et destination.</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
